.header {
    grid-area: h;
    background-color: green;
}
.header img {
    width: 50px;
}

.loginBlock {
    float: right;
    margin-right: 10px;
}
.loginBlock a {
    text-decoration: none;
    color: ghostwhite;
}